<?xml version='1.0' encoding='utf-8'?>
<widget
   id="BT"
   version="0.0.1"   
   xmlns="http://www.w3.org/ns/widgets"
   xmlns:gap="http://phonegap.com/ns/1.0">

<name>BT Lampen</name>
<description>BT Lampen</description>
<author email="basnederveen@gmail.com" href="http://evothings.com"> Bas Nederveen, credits to Hammadtq </author>
<content src="index.html" />

<plugin name="com.megster.cordova.bluetoothserial" spec="0.3.3" source="pgb" />
<icon src="Bluetooth-LED-Remote-Control-Evothings-App-master---credits-to-hammadtq/app/lamp.png" />
</widget>