<?xml version='1.0' encoding='utf-8'?>
<widget
   id="BT"
   version="0.0.1"   
   xmlns="http://www.w3.org/ns/widgets"
   xmlns:gap="http://phonegap.com/ns/1.0">

<name>BT Lampen</name>
<description>BT Lampen</description>
<author email="basnederveen@gmail.com" href="http://evothings.com"> B nederveen, credits to Hammadtq </author>
<content src="index.html" />

<gap:plugin name="cordova-plugin-bluetooth-serial" source="npm" version="0.3.3"/>

</widget>